<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Email</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="sendEmail()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Subject</span>
          <input type="text" ng-model="subject">
        </label>
        <label class="item item-input">
          <span class="input-label">To Email</span>
          <input type="text" ng-model="toEmail">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Email to a friend</button>
        </label>

      </div>
    </form>

  </ion-content>
</ion-modal-view>
